<main>
    <section>
        <div class="form">
           <div class="product">
              <h6 class="gray">Список товарів</h6>
              {{> product-card}}
            </div>
      </div>
        </div>
    </section>
</main>