<div class="purchase">
    <div class="product-2">
        <h6 class="main">Успішне виконання дій</h6>
        <div class="cool">
           <div class="hero">Товар Успішно був видалений</div>
           <a href="/product-list"  class="hero-button">Повернутись назад</a>
        </div>
    </div>
</div>